[submodule "external/NRefactory"]
	path = external/NRefactory
	url = https://github.com/danelkhen/NRefactory.git
	ignore = dirty
[submodule "external/corex"]
	path = external/corex
	url = https://github.com/danelkhen/corex.git
	ignore = dirty
[submodule "external/AjaxMin"]
	path = external/AjaxMin
	url = https://github.com/Arakis/AjaxMin.git
	ignore = dirty
[submodule "external/cecil"]
	path = external/cecil
	url = https://github.com/jbevain/cecil
	ignore = dirty
[submodule "external/aws-sdk-net"]
	path = external/aws-sdk-net
	url = https://github.com/aws/aws-sdk-net.git
	ignore = dirty
[submodule "SDK"]
	path = SDK
	url = https://github.com/SharpKit/SharpKit-SDK.git
[submodule "external/SharpZipLib"]
	path = external/SharpZipLib
	url = https://github.com/icsharpcode/SharpZipLib.git
