[submodule "external/NRefactory"]
	path = external/NRefactory
	url = https://github.com/danelkhen/NRefactory.git
[submodule "external/corex"]
	path = external/corex
	url = https://github.com/danelkhen/corex.git
[submodule "external/AjaxMin"]
	path = external/AjaxMin
	url = https://github.com/Arakis/AjaxMin.git
[submodule "external/cecil"]
	path = external/cecil
	url = https://github.com/jbevain/cecil
[submodule "external/aws-sdk-net"]
	path = external/aws-sdk-net
	url = https://github.com/aws/aws-sdk-net.git
